.mainContainer {
  display: flex;

  width: 550px;
  margin-top: 100px;
}

.leftContainer {
  display: flex;
  flex-direction: column;

  width: 250px;
}

.rightContainer {
  width: 250px;
  padding: 0;
}

.rightContainer ul {
  margin-top: 0;
  list-style-type: none;
}

.rightContainer h2 {
  margin-top: 0;
}

.rightContainer li {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  background-color: #fbf8e3;
}

.selectButtonContainer {
  display: flex;
  margin-bottom: 30px;
}

.selectContainer {
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #0375d8;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
