.App {
  display: flex;
  justify-content: center;

  height: 100vh;
}

.mainContainer {
  display: flex;

  width: 500px;
  margin-top: 100px;

  background-color: aqua;
}

.leftContainer {
  display: flex;
  flex-direction: column;

  width: 250px;

  background-color: pink;
}

.rightContainer {
  width: 200px;
  padding: 20px;

  background-color: aquamarine;
}

.selectButtonContainer {
  display: flex;
  margin-bottom: 30px;
}

.selectContainer {
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #0375d8;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}
